/* #box {
    width: 200px;
    height: 200px;
     margin: 50px ;
    border: 2px solid #000;
}

#previousColor{
    padding: 10px;
    margin: 5px;
    background-color: lightcoral;
    margin-top: 5px;
    margin-bottom: 5px;;
    margin-left: 20px;
    margin-right: 20px;

    
    
}

#nextColor{
    padding: 10px;
    margin: 5px;
    background-color: lightcoral;
    margin-top: 5px;
    margin-bottom: 5px;;
    margin-left: 20px;
    margin-right: 20px; */
    
/* } */